<div class="about">
  <div class="about-container">
    <h1 class="title">Acerca de nosotros</h1>
    <h2 class="subtitle">Misión</h2>
    <p class="text">
      En Plastiful, nuestra misión es ser el socio de confianza para purificadoras de agua, proporcionando un servicio impecable, superando las expectativas de nuestros clientes, ofreciendo una gama completa de productos de alta calidad que garantizan el máximo rendimiento y eficiencia. Nos dedicamos a proporcionar soluciones innovadoras y confiables que apoyen la pureza y la salud del agua, comprometidos con la satisfacción total de nuestros clientes y con la mejora continua de nuestras ofertas.
    </p>
    <h2 class="subtitle">Visión</h2>
    <p class="text">
      En Plastiful, nuestra visión es convertirnos en el referente nacional en soluciones para purificación de agua, ofreciendo productos de la más alta calidad. Nos comprometemos a la mejora continua y a la adaptación constante a las nuevas tecnologías para ofrecer soluciones que superen las expectativas de nuestros clientes. Aspiramos a contribuir al bienestar de la sociedad y al cuidado del medio ambiente, estableciendo un estándar de excelencia en cada producto y servicio que ofrecemos.
    </p>
  </div>
</div>
