<div class="layout">
  <header class="header">
    <div class="logo">
      <a routerLink="/">
        <img class="logo-image" src="../../../assets/images/plastiful-logo.png" alt="Plastiful logo" />
      </a>
    </div>
    <div class="menu">
      <ul class="menu-list">
        <li class="menu-list-item">
          <a class="menu-list-item-link" routerLink="/">Home</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list-item-link" routerLink="about">Acerca de nosotros</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list-item-link" target="_blank" href="https://listado.mercadolibre.com.mx/_CustId_693275029?item_id=MLM1437629105&category_id=MLM191782&seller_id=693275029&client=recoview-selleritems&recos_listing=true#origin=vip&component=sellerData&typeSeller=classic">Nuestros productos</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list-item-link" target="_blank" href="https://api.whatsapp.com/send?phone=5212212794374&text=Hola%2C%20%C2%A1Como%20podemos%20ayudarte%3F%20%F0%9F%91%8B">¡Escríbenos!</a>
        </li>
      </ul>
    </div>
  </header>
  <main>
    <ng-content></ng-content>
  </main>
  <footer class="footer">
    <div class="footer-social-media">
      <a
        href="https://www.facebook.com/p/Plastiful-100054641700997"
        target="_blank">
        <img class="footer-social-media-icon" src="../../../assets/images/facebook-icon.png" alt="Facebook icon" />
      </a>
    </div>
    <div class="footer-social-links">
      <ul class="menu-list">
        <li class="menu-list-item">
          <a class="menu-list-item-link" routerLink="about">Acerca de nosotros</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list-item-link" target="_blank" href="https://listado.mercadolibre.com.mx/_CustId_693275029?item_id=MLM1437629105&category_id=MLM191782&seller_id=693275029&client=recoview-selleritems&recos_listing=true#origin=vip&component=sellerData&typeSeller=classic">Nuestros productos</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list-item-link" target="_blank" href="https://api.whatsapp.com/send?phone=5212212794374&text=Hola%2C%20%C2%A1Como%20podemos%20ayudarte%3F%20%F0%9F%91%8B">¡Escríbenos por whatsapp!</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list-item-link" target="_blank" href="mailto:plastiful.insumos@gmail.com?subject=%C2%A1Me%20gustar%C3%ADa%20saber%20m%C3%A1s%20de%20sus%20productos!">Correo</a>
        </li>
      </ul>
    </div>
    <p class="footer-text">
      &copy; {{ currentYear}} Plastiful. Creado por <a class="footer-text-link" href="https://tecayehuatl.com" target="_blank">E. Tecayehuatl</a>
    </p>
  </footer>
  <section class="whatsapp">
    <a class="whatsapp-link" target="_blank" href="https://api.whatsapp.com/send?phone=5212212794374&text=Hola%2C%20%C2%A1Como%20podemos%20ayudarte%3F%20%F0%9F%91%8B">
      <img class="whatsapp-image" src="../../../assets/images/whatsapp-icon.png" alt="Whatsapp logo" />
    </a>
  </section>
</div>
