body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary: #22397f; //34, 57, 127
  --secondary: #5da4d7; // 93, 164, 215
  --white: #ffffff;
}/* You can add global styles to this file, and also import other style files */
