body, html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

:root {
  --primary: #22397f; //34, 57, 127
  --secondary: #5da4d7; // 93, 164, 215
  --white: #ffffff;
  --hero-image: url('../src/assets/images/product-3.jpg');
  --logo-image: url('../src/assets/images/plastiful-logo.svg');
}/* You can add global styles to this file, and also import other style files */
